body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#homeBackground {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(img/crowdStockHome.jpg);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.avatar-table {
    position: relative;
    height: 40px;
    width: auto;
    max-width: 40px;
}

.td-avatar {
    text-align: right;
    padding-top: 0;
    padding-bottom: 0;
}

#homeRows {
    padding: 30px;
    margin-bottom: 30px;
    background:rgba(255,255,255,0.5);
}

.tt-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}