@{
    ViewBag.Title = "Index";
}

<div class="container">
    <br />
    <div class="form-group">
        <div id="searchTextField">
            <input class="form-control typeahead" type="text" placeholder="Search">
        </div>
        <br />
        <div class="form-group">
            <input type="radio" name="mtype" value="stocks" onclick="StocksIsOn(true)">Stocks
            <input type="radio" name="mtype" value="users" onclick="UsersIsOn(true)">Users
            <a class="btn btn-success" type="submit" id="SearchButton">Search</a><br />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Top Stocks</h3>
        @{Html.RenderPartial("StocksPartial", ViewBag.TopStocks as IEnumerable<CrowdStock.Models.Stock>);}
    </div>
    <div class="col-md-6">
        <h3>Top Users</h3>
        @{Html.RenderPartial("UsersPartial", ViewBag.TopUsers as IEnumerable<CrowdStock.Models.ApplicationUser>);}
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/typeahead");
    <script>

        var baseUrl = "@Url.Content("~/")";
        var apiUrl = "api/Search/%QUERY"
        var stockOn = false;
        var userOn = false;

        var stockAndusers = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: '',
            remote: baseUrl + apiUrl
        });

        stockAndusers.initialize();
        $('#searchTextField .typeahead').typeahead(null, {
            name: 'stockAndusers',
            displayKey: 'Name',
            source: stockAndusers.ttAdapter()
        });

        function StockIsOn(isOn)
        {
            stockOn = isOn;
        }

        function UserIsOn(isOn)
        {
            userOn = isOn;
        }

        function searchTo() {
            var toSearch = parseInt(document.getElementById("SearchButton").value, 10);
            if(stockOn)
            {
                var location = @Url.Action("Details", "Stocks", new { id = toSearch });
                location.replace();
            }
            else if(userOn)
            {

            }
            else
            {
                //do nothing
            }
        }
   </script>
}