@{
    ViewBag.Title = "Index";
}

<div class="container">
    <br />
    <div class="form-group">
        <div id="searchTextField">
            <input class="form-control typeahead" type="text" placeholder="Search">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Top Stocks</h3>
        @{Html.RenderPartial("StocksPartial", ViewBag.TopStocks as IEnumerable<CrowdStock.Models.Stock>);}
    </div>
    <div class="col-md-6">
        <h3>Top Users</h3>
        @{Html.RenderPartial("UsersPartial", ViewBag.TopUsers as IEnumerable<CrowdStock.Models.ApplicationUser>);}
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/typeahead");
    <script>

        var baseUrl = "@Url.Content("~/")";
        var apiUrl = "api/Search/%QUERY";
        var stockOn = false;
        var userOn = false;

        var stockAndusers = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: '',
            remote: baseUrl + apiUrl
        });

        stockAndusers.initialize();
        $('#searchTextField .typeahead').typeahead(null, {
            name: 'stockAndusers',
            displayKey: 'Name',
            source: stockAndusers.ttAdapter()
        });

        $(document).on('typeahead:selected', '#searchTextField .typeahead', function (event, item, dataset) {
            if (item.Type == "user") {
                window.location.href = "@Url.Action("Details", "Users", new { id = "ID" })".replace("ID", item.Id);
            }
            else if (item.Type == "stock") {
                window.location.href = "@Url.Action("Details", "Stocks", new { id = "ID" })".replace("ID", item.Id);
            }
        });
    </script>
}