@{
    ViewBag.Title = "Admin";
}

<div class="jumbotron">
    <h1>Admin CP</h1>
    <p class="lead">
        Admins will use this view to manage users, stocks, and votes
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Users</h2>
        <p>
            Manage/ban users
        </p>
        <p>
            @Html.ActionLink("Manage Users", "Users", null, new { @class = "btn btn-primary" })
        </p>
    </div>
    <div class="col-md-6">
        <h2>Stocks</h2>
        <p>
            Manage tracked stocks
        </p>
        <p>
            @Html.ActionLink("Manage Stocks", "Index", "Stocks", null, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>