@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>

<p class="lead">Crowdstock will keep track of data and key metrics such as the following:
     individual user’s track record of predictions, popular stocks and trends,
     aggregate predictions of stocks over time, leaderboards of users with the most 
    correct predictions, and many more. CrowdStock will make these metrics available with 
    a highly intuitive interface and easily readable charts and graphs. 
    Users with profiles will be able to follow other users to track their forecasts of stock performance.</p>
</p>

<div class="container">

    <hr class="featurette-divider">

    <div class="featurette" id="services">
        <img class="featurette-image img-circle img-responsive pull-left" src="http://bit.ly/1xsKP4J" height="200" width="200">
        <h2 class="featurette-heading">
            Michael Clayton
            <span class="text-muted">Team Leader, Android Developer</span>
        </h2>
        <p class="lead">I am a driven student majoring in 
        computer science at Purdue University. I crave learning and love a challenge.</p>
        <p class="lead">I crave learning and love a challenge. I have a passion for software development
        and continually seek to push the boundaries of my knowledge and experience.</p>

    </div>

    <hr class="featurette-divider">

    <div class="featurette" id="contact">
        <img class="featurette-image img-circle img-responsive pull-right" src="http://bit.ly/1pzWnKq" height="200" width="200">
        <h2 class="featurette-heading">
            Isabel Lee
            <span class="text-muted">UI Developer</span>
        </h2>
        <p class="lead">I am a senior in Computer Science, currently taking my timing into giving back to the Community.
        You will always find my trying to get involved in spread the word about Computer Science to all type of people. In 
        my spare time, I like to find new things that can challenge me and make me a better person and programmer.</p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette" id="services">
        <img class="featurette-image img-circle img-responsive pull-left" src="http://bit.ly/1pzVDFi" height="200" width="200">
        <h2 class="featurette-heading">
            Adam Rice
            <span class="text-muted">Android UI Developer</span>
        </h2>
        <p class="lead">I am a senior studying computer science at Purdue University with a concentration in software engineering.</p>
        <p class="lead">I have a desire to apply software to resolve interesting real-world problems. The CrowdStock application is a perfect example of this. Consumers would like to practice 
        how to trade and maintain a stock portfolio without spending money, and we are helping them do just that!</p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette" id="contact">
        <img class="featurette-image img-circle img-responsive pull-right" src="http://bit.ly/1uwnttU" height="150" width="150">
        <h2 class="featurette-heading">
            Bill King
            <span class="text-muted">BackEnd Developer</span>
        </h2>
        <p class="lead">Blahe Blae Blae Blae Blae Blae Blae Blae Blae Blae Blae Blae Blae Blae Blae Blae Blae vBlae vBlae  BlaevBlae BlaeBlaeBlaeBlaeBlaeBlaeBlaeBlae.</p>
        <p class="lead">Blahe Blae Blae Blae Blae Blae Blae Blae Blae Blae Blae Blae Blae Blae Blae Blae Blae vBlae vBlae  BlaevBlae BlaeBlaeBlaeBlaeBlaeBlaeBlaeBlae.</p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette" id="services">
        <img class="featurette-image img-circle img-responsive pull-left" src="http://bit.ly/1wPDzga" height="150" width="150">
        <h2 class="featurette-heading">
            Matthew Crabill
            <span class="text-muted">BackEnd Developer</span>
        </h2>
        <p class="lead">I am a senior majoring in Computer Science at Purdue University. I enjoy learning new things and improving my problem-solving abilities. I also love working on solving interesting Computer Science problems with other people.</p>
    </div>
</div>
<!-- /container -->
